@import "../Base/global";

.certificate {
    &__container {
        display: grid;
        grid-template-columns: repeat(3, minmax(1rem, 1fr));
        align-items: stretch;
        justify-content: center;
        width: 100%;
        max-width: $width-desktop;
        gap: 4rem;
        margin: 0 auto;
        margin-top: 10rem;

        @include res-max-tablet {
            grid-template-columns: 1fr;
            gap: 5rem;
            margin-top: 5rem;
        }

        &--col-2 {
            grid-template-columns: repeat(2, 1fr);
            max-width: calc(2 * calc(1024px / 3));
            margin-top: 6rem;

            @include res-max-tablet {
                grid-template-columns: 1fr;
                margin-top: 5rem;
            }
        }
    }

    &__item {
        position: relative;
        display: block;
        text-decoration: none;
        transform: scale(1,1);
        transition: $animate-all;
        cursor: pointer;
        @include box-shadow(.3);

        @include res-max-tablet {
            flex: 0 0 $width-mobile;
            width: $width-mobile;
            max-width: $width-mobile;
        }

        @include res-max-mobile {
            flex: 0 0 100%;
            width: 100%;
            max-width: 100%;
        }

        &:last-child {
            @include res-max-tablet {
                margin-bottom: 0;
            }
        }

        &:before {
            position: absolute;
            top: 0;
            left: 50%;
            display: block;
            content: "";
            width: 3rem;
            height: 3rem;
            transform: translate(-50%, -50%) rotate(45deg);
            z-index: -1;
            @include border("border", .2rem, $color-black);
        }

        &:after {
            position: absolute;
            top: -1.7rem;
            left: 50%;
            display: block;
            content: "";
            width: 1.5rem;
            height: 1.5rem;
            background-color: $color-primary;
            border-radius: 100%;
            transform: translate(-50%, -50%) rotate(45deg);
            z-index: 2;
        }

        img {
            display: block;
            width: 100%;
        }
        @media (hover: hover){
            &:hover {
                transform: scale(1.05,1.05);
                @include box-shadow(.6);

                @include res-max-tablet {
                    transform: scale(1,1);
                }
            }
        }
    }
}
