@import "../Base/global";

.partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &__item {
        flex: 0 0 auto;
        padding: 0 2rem;
        margin-bottom: 1rem;
        text-decoration: none;

        @include res-max-mobile {
            padding: 0 1rem;
        }

        > img {
            display: block;
            width: 11.8rem;
            margin: 0 auto;

            @include res-max-mobile {
                width: 10rem;
            }
        }
    }
}
