@import "../base/global";
.burger {
  @include flex-set(inline-flex, column, nowrap, $gap-s, center);
    position: relative;  
    place-items: center;
    padding: 0;
    background: none;
    border-color: var(--color-trans);
    font-size: small;
    color: var(--burger-color, var(--color-primary));
    text-transform: uppercase;
    transition: color $trans-time ease-in-out;
    z-index: 2;
    cursor: pointer;
    
    &--open{
      --burger-color: var(--color-white);
    }

    .icon{
      --icon-size: #{$gap-xxl};
      pointer-events: none;
    }
  }