@import "../base/global";
.burger {
  @include flex-set(inline-flex, column, nowrap, $gap-s, center);
    position: relative;  
    place-items: center;
    padding: 0;
    background: none;
    border-color: var(--color-trans);
    font-size: small;
    color: var(--color-primary);
    text-transform: uppercase;
    cursor: pointer;

    .icon{
      --icon-size: #{$gap-xxl};
    }
  }