@import "../base/global";

@layer components {
    @property --button_gradient-size {
        syntax: "<percentage>";
        inherits: false;
        initial-value: 0%;
    }

    .button {
        --btn-color: var(--color-primary);
        --btn-text-color: var(--color-primary);
        --btn-before_trans-x: -100%;
        position: relative;
        display: inline-block;
        min-inline-size: 14rem;
        background-color: $color-trans;
        border-radius: 100vmax;
        font-family: $font-text;
        font-size: var(--btn-font-size, large);
        font-weight: 700;
        line-height: 1;
        color: var(--btn-text-color);
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: color var(--trans-time) var(--trans-fnc) var(--trans-time);
        transition: --button_gradient-size 0.5s ease-in-out;
        overflow: hidden;
        isolation: isolate;
        cursor: pointer;

        @include hover {
            --btn-before_trans-x: 0%;
        }

        @include res-max-mobile-l{
            --btn-font-size: medium;
        }

        > span {
            @include flex-set(flex, row, nowrap, 0.5em, center, center);
            @include border("def", 2px, var(--btn-color));
            min-inline-size: 14rem;
            padding-block: var(--btn-padding-y, calc(#{$gap-m} + #{$gap-s}));
            padding-inline: var(--btn-padding-x, #{$gap-l});
            background-image: linear-gradient(
                90deg,
                var(--color-bg) 0%,
                var(--color-bg) var(--button_gradient-size),
                var(--color-primary) var(--button_gradient-size),
                var(--color-primary) 100%
            );
            -webkit-background-clip: text;
            border-radius: inherit;
            font-weight: inherit;
            white-space: nowrap;
            transition: --button_gradient-size var(--trans-time) var(--trans-fnc);
            -webkit-text-fill-color: transparent;

            @include hover {
                --button_gradient-size: 100%;
            }

            @include res-max-mobile-l{
                --btn-padding-y: #{$gap-m};
                --btn-padding-x: #{$gap-m};
            }

            > .icon {
                --icon-size: #{$gap-l};
                transition: fill var(--trans-time) var(--trans-fnc);
            }
        }

        &:before {
            position: absolute;
            inset: 0;
            content: "";
            background-color: var(--btn-color);
            translate: var(--btn-before_trans-x);
            transition: translate var(--trans-time) var(--trans-fnc);
            z-index: -1;
        }

        &--white {
            --btn-color: var(--color-bg);
            --btn-text-color: var(--color-bg);

            @include hover {
                --btn-text-color: var(--color-primary);
            }

            > span {
                background-image: linear-gradient(
                    90deg,
                    var(--color-primary) 0%,
                    var(--color-primary) var(--button_gradient-size),
                    var(--color-bg) var(--button_gradient-size),
                    var(--color-bg) 100%
                );
            }
        }
    }
}
