@import "../base/global";

.button{
    --btn-color: var(--color-primary);
    @include flex-set(inline-flex, row, nowrap, $gap-l, center, center, center);
    @include border('def', 2px, var(--btn-color));
    min-inline-size: 20rem;
    padding-block: var(--btn-padding-y, #{$gap-l});
    padding-inline: var(--btn-padding-x, #{$gap-xxl});
    background-color: var(--btn-bg-color, var(--color-trans));
    border-radius: 100vmax;
    font-family: $font-text;
    font-size: var(--btn-font-size, large);
    font-weight: 700;
    line-height: 1;
    color: var(--btn-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color var(--trans-time) var(--trans-fnc);
    cursor: pointer;

    @include res-max-laptop-s{
        --btn-padding-x: #{$gap-l};
        --btn-padding-y: 1.2rem;
        --btn-font-size: medium;
        --btn-inline-size: 16rem;
    }

    @include hover{

    }

    &--white{
        --btn-color: var(--color-bg);
    }
}