@import "../base/global";

.container {
    inline-size: var(--container-width, 75%);
    min-inline-size: var(--container-min-width, #{$width-laptop-s});
    padding-inline: var(--container-pad-x, var(--padding-inline--container));
    margin-inline: auto;

    @include res-max-laptop-l {
        --container-min-width: 0;
    }

    @include res-max-laptop-m {
        --container-width: 85%;  
    }

    @include res-max-laptop-s {
        --container-width: 100%;
    }

    @include res-max-mobile-m{
        --container-pad-x: #{$gap-l};
    }
}
