@import "../base/global";

.link {
    --link-icon-size: #{$gap-l};
    --link-icon-scale: 1;
    @include flex-set(inline-flex, row, nowrap, $gap-m, center);
    font-family: $font-text;
    font-size: var(--link-font-size, 1em);
    color: var(--link-color, #{$color-primary});
    text-decoration: var(--link-text-decor, none);
    transition: color var(--trans-time) var(--trans-fnc);

    @include hover {
        --link-text-decor: underline;
        --link-icon-scale: 1.1;
    }

    &--underline {
        --link-text-decor: underline;
    }

    &--white {
        --link-color: #{$color-white};
    }

    > span {
        font-size: 1em;
        color: currentColor;
    }

    &--l {
        --link-icon-size: #{$gap-xl};
        --link-font-size: 1.5em;

        @include res-max-laptop-m{
            --link-icon-size: #{$gap-l};
            --link-font-size: 1em;
        }   
    }

    > .icon {
        --icon-size: var(--link-icon-size);
        scale: var(--link-icon-scale);
        transition: scale var(--trans-time) var(--trans-fnc);
        &-facebook {
            fill: $color-fb;
        }
    }
}
