@import "../base/global";

.gallery {
  @include grid-columns(
    grid,
    repeat(var(--col-count, 3), minmax($gap-xxl, 1fr)),
    var(--gap, #{$gap-xxl}),
    var(--align-items, stretch)
  );
  margin-block-end: $gap-xxl;

  @include res-max-laptop-s {
    --gap: #{$gap-l};
    --col-count: 3;
  }

  @include res-max-tablet {
    --col-count: 2;
  }

  @include res-max-mobile-l {
    --gap: #{$gap-xl};
  }
  
  &__invisible{
    display: none;
  }
}

.gitem {
  --photo_scale: 1;
  --text_translate-x: calc(-100% - #{$gap-xxl});
  position: relative;
  display: block;
  aspect-ratio: 1;
  text-decoration: none;
  overflow: hidden;

  &:has(h2, .button) {
    @include flex-set(flex, row, nowrap, 0, center, var(--gitem_jc, flex-start));
  }

  &:has(.button) {
    @include flex-set(flex, row, nowrap, 0, center, var(--gitem_jc, center));
  }

  &:is(a) {
    --photo_scale: 1.05;
    --photo_opacity: 1;
    --photo_filter: blur(0);
    --text_trans-y: 0;
    padding: clamp($gap-m, 2vw, $gap-xl);
    background-color: $color-secondary;

    @include hover {
      --photo_scale: 1.1;
      --photo_opacity: 0.9;
      --photo_filter: blur(0.1em);
      --text_trans-y: -0.2em;
    }

    img {
      @include position;
      min-inline-size: 100%;
      min-block-size: 100%;
      opacity: var(--photo_opacity);
      filter: var(--photo_filter);
      scale: var(--photo_scale);
      transition: scale $trans-time ease-in-out, filter $trans-time ease-in-out, opacity $trans-time ease-in-out;
    }

    > strong {
      position: absolute;
      inset: auto auto $gap-xl $gap-xl;
      padding: 0.4em 0.8em;
      background-color: $color-primary;
      font-family: $font-title;
      font-size: x-large;
      letter-spacing: 2px;
      color: $color-white;
      text-transform: uppercase;
      translate: 0 var(--text_trans-y);
      transition: translate $trans-time ease-in-out;
    }
  }

  &--row-span-2 {
    @include grid-row-span(var(--gitem_rowspan, 2));
    aspect-ratio: unset;
  }

  &--col-span-2 {
    @include grid-col-span(var(--gitem_colspan, 2));
    aspect-ratio: unset;
  }
}
