@import "../Base/global";

nav {
    @include flex-set(flex, row, nowrap, 0, center, flex-end);
    position: fixed;
    inset: 0 0 auto 0;
    block-size: var(--nav-height);
    padding-inline: var(--padding-inline--container);
    background-color: var(--color-trans);
    font-family: $font-title;
    color: var(--nav-color, #{$color-font});
    z-index: 999;

    @include res-max-tablet {
        --nav-justify-content: space-between;
        --color-bg-nav: #{$color-bg-nav-mobile};
    }
}

.menu {
    @include flex-set(var(--nenu-display, none), column, nowrap, $gap-xxl, center, center);
    position: fixed;
    inset: 0;
    padding: 0;
    margin: 0;
    background-color: $color-primary;
    opacity: var(--menu-opacity, 0);
    list-style: none;
    transition: opacity 0.5s linear 0.1s;
    z-index: 1;

    &--open {
        --menu-opacity: 1;
        --nenu-display: flex;
    }

    &__item {
        font-size: xx-large;
        color: $color-white;
        text-align: center;
        text-decoration: var(--item_text-decoration, none);

        @include hover{
            --item_text-decoration: underline;
        }
    }

    &__social{
        position: absolute;
        inset: auto auto var(--padding-inline--container) var(--padding-inline--container);

        @include res-max-tablet{
            inset: auto auto var(--padding-inline--container) 50%;
            text-align: center;
            translate: -50%;
        }

        >strong{
            display: block;
            margin-block-end: $gap-m;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}
