/*
    Dots plugin
*/
/*
    Navigation plugin
*/
.carousel {
  position: relative;
  box-sizing: border-box; }
  .carousel *,
  .carousel *:before,
  .carousel *:after {
    box-sizing: inherit; }
  .carousel.is-draggable {
    cursor: move;
    cursor: grab; }
  .carousel.is-dragging {
    cursor: move;
    cursor: grabbing; }

.carousel__viewport {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%; }

.carousel__track {
  display: flex; }

.carousel__slide {
  flex: 0 0 auto;
  width: var(--carousel-slide-width, 60%);
  max-width: 100%;
  padding: 1rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain; }

.has-dots {
  margin-bottom: calc(0.5rem + 22px); }

.carousel__dots {
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none; }
  .carousel__dots .carousel__dot {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer; }
    .carousel__dots .carousel__dot:after {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: currentColor;
      opacity: 0.25;
      transition: opacity 0.15s ease-in-out; }
    .carousel__dots .carousel__dot.is-selected:after {
      opacity: 1; }

.carousel__button {
  width: var(--carousel-button-width, 48px);
  height: var(--carousel-button-height, 48px);
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
  color: var(--carousel-button-color, currentColor);
  background: var(--carousel-button-bg, transparent);
  border-radius: var(--carousel-button-border-radius, 50%);
  box-shadow: var(--carousel-button-shadow, none);
  transition: opacity 0.15s ease; }
  .carousel__button.is-prev, .carousel__button.is-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .carousel__button.is-prev {
    left: 10px; }
  .carousel__button.is-next {
    right: 10px; }
  .carousel__button[disabled] {
    cursor: default;
    opacity: 0.3; }
  .carousel__button svg {
    width: var(--carousel-button-svg-width, 50%);
    height: var(--carousel-button-svg-height, 50%);
    fill: none;
    stroke: currentColor;
    stroke-width: var(--carousel-button-svg-stroke-width, 1.5);
    stroke-linejoin: bevel;
    stroke-linecap: round;
    filter: var(--carousel-button-svg-filter, none);
    pointer-events: none; }

/*
  Thumbs plugin
*/
/* 3/2 */
/*
  HTML plugin
*/
/*
  Toolbar plugin
*/
html.with-fancybox {
  scroll-behavior: auto; }

body.compensate-for-scrollbar {
  overflow: hidden !important;
  touch-action: none; }

.fancybox__container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  direction: ltr;
  margin: 0;
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: var(--fancybox-color, #fff);
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  z-index: 1050;
  outline: none;
  transform-origin: top left;
  --carousel-button-width: 48px;
  --carousel-button-height: 48px;
  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;
  --carousel-button-svg-stroke-width: 2.5;
  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4)); }
  .fancybox__container *,
  .fancybox__container *::before,
  .fancybox__container *::after {
    box-sizing: inherit; }
  .fancybox__container :focus {
    outline: none; }
  body:not(.is-using-mouse) .fancybox__container :focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px var(--fancybox-accent-color, rgba(1, 210, 232, 0.94)); }
  @media all and (min-width: 1024px) {
    .fancybox__container {
      --carousel-button-width: 48px;
      --carousel-button-height: 48px;
      --carousel-button-svg-width: 27px;
      --carousel-button-svg-height: 27px; } }

.fancybox__backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--fancybox-bg, rgba(24, 24, 27, 0.92)); }

.fancybox__carousel {
  position: relative;
  flex: 1 1 auto;
  min-height: 0;
  /* For Safari */
  height: 100%;
  z-index: 10; }
  .fancybox__carousel.has-dots {
    margin-bottom: calc(0.5rem + 22px); }

.fancybox__viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  cursor: default; }

.fancybox__track {
  display: flex;
  height: 100%; }

.fancybox__slide {
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 48px 8px 8px 8px;
  position: relative;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
  outline: 0;
  overflow: auto;
  --carousel-button-width: 36px;
  --carousel-button-height: 36px;
  --carousel-button-svg-width: 22px;
  --carousel-button-svg-height: 22px; }
  .fancybox__slide::before, .fancybox__slide::after {
    content: "";
    flex: 0 0 0;
    margin: auto; }
  @media all and (min-width: 1024px) {
    .fancybox__slide {
      padding: 64px 100px; } }

.fancybox__content {
  margin: 0 env(safe-area-inset-right, 0px) 0 env(safe-area-inset-left, 0px);
  padding: 36px;
  color: var(--fancybox-content-color, #374151);
  background: var(--fancybox-content-bg, #fff);
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  z-index: 20; }
  .fancybox__content :focus:not(.carousel__button.is-close) {
    outline: thin dotted;
    box-shadow: none; }

.fancybox__caption {
  align-self: center;
  max-width: 100%;
  margin: 0;
  padding: 1rem 0 0 0;
  line-height: 1.375;
  color: var(--fancybox-color, currentColor);
  visibility: visible;
  cursor: auto;
  flex-shrink: 0;
  overflow-wrap: anywhere; }
  .is-loading .fancybox__caption {
    visibility: hidden; }

.fancybox__container > .carousel__dots {
  top: 100%;
  color: var(--fancybox-color, #fff); }

.fancybox__nav .carousel__button {
  z-index: 40; }
  .fancybox__nav .carousel__button.is-next {
    right: 8px; }
    @media all and (min-width: 1024px) {
      .fancybox__nav .carousel__button.is-next {
        right: 40px; } }
  .fancybox__nav .carousel__button.is-prev {
    left: 8px; }
    @media all and (min-width: 1024px) {
      .fancybox__nav .carousel__button.is-prev {
        left: 40px; } }

.carousel__button.is-close {
  position: absolute;
  top: 8px;
  right: 8px;
  top: calc(env(safe-area-inset-top, 0px) + 8px);
  right: calc(env(safe-area-inset-right, 0px) + 8px);
  z-index: 40; }
  @media all and (min-width: 1024px) {
    .carousel__button.is-close {
      right: 40px; } }

/* Close button located inside content area */
.fancybox__content > .carousel__button.is-close {
  position: absolute;
  top: -40px;
  right: 0;
  color: var(--fancybox-color, #fff); }

.fancybox__no-click,
.fancybox__no-click button {
  pointer-events: none; }

.fancybox__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  color: var(--fancybox-color, currentColor); }
  .fancybox__slide .fancybox__spinner {
    cursor: pointer;
    z-index: 1053; }
  .fancybox__spinner svg {
    animation: fancybox-rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%; }
    .fancybox__spinner svg circle {
      fill: none;
      stroke-width: 2.75;
      stroke-miterlimit: 10;
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: fancybox-dash 1.5s ease-in-out infinite;
      stroke-linecap: round;
      stroke: currentColor; }

@keyframes fancybox-rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes fancybox-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; } }

.fancybox__backdrop,
.fancybox__caption,
.fancybox__nav,
.carousel__dots,
.carousel__button.is-close {
  opacity: var(--fancybox-opacity, 1); }

/* Opening */
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__backdrop,
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__caption,
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__nav,
.fancybox__container.is-animated[aria-hidden="false"] .carousel__dots,
.fancybox__container.is-animated[aria-hidden="false"] .carousel__button.is-close {
  animation: 0.15s ease backwards fancybox-fadeIn; }

/* Closing */
.fancybox__container.is-animated.is-closing .fancybox__backdrop,
.fancybox__container.is-animated.is-closing .fancybox__caption,
.fancybox__container.is-animated.is-closing .fancybox__nav,
.fancybox__container.is-animated.is-closing .carousel__dots,
.fancybox__container.is-animated.is-closing .carousel__button.is-close {
  animation: 0.15s ease both fancybox-fadeOut; }

.fancybox-fadeIn {
  animation: 0.15s ease both fancybox-fadeIn; }

.fancybox-fadeOut {
  animation: 0.1s ease both fancybox-fadeOut; }

.fancybox-zoomInUp {
  animation: 0.2s ease both fancybox-zoomInUp; }

.fancybox-zoomOutDown {
  animation: 0.15s ease both fancybox-zoomOutDown; }

/* Both `throwOut` classes are for closing animation after dragging up/down */
.fancybox-throwOutUp {
  animation: 0.15s ease both fancybox-throwOutUp; }

.fancybox-throwOutDown {
  animation: 0.15s ease both fancybox-throwOutDown; }

@keyframes fancybox-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fancybox-fadeOut {
  to {
    opacity: 0; } }

@keyframes fancybox-zoomInUp {
  from {
    transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0; }
  to {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes fancybox-zoomOutDown {
  to {
    transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0; } }

@keyframes fancybox-throwOutUp {
  to {
    transform: translate3d(0, -30%, 0);
    opacity: 0; } }

@keyframes fancybox-throwOutDown {
  to {
    transform: translate3d(0, 30%, 0);
    opacity: 0; } }

.fancybox__carousel .carousel__slide {
  scrollbar-width: thin;
  scrollbar-color: #ccc rgba(255, 255, 255, 0.1); }

.fancybox__carousel .carousel__slide::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

.fancybox__carousel .carousel__slide::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1); }

.fancybox__carousel .carousel__slide::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); }

.fancybox__carousel.is-draggable .fancybox__slide,
.fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
  cursor: move;
  cursor: grab; }

.fancybox__carousel.is-dragging .fancybox__slide,
.fancybox__carousel.is-dragging .fancybox__slide .fancybox__content {
  cursor: move;
  cursor: grabbing; }

.fancybox__carousel .fancybox__slide .fancybox__content {
  cursor: auto; }

.fancybox__carousel .fancybox__slide.can-zoom_in .fancybox__content {
  cursor: zoom-in; }

.fancybox__carousel .fancybox__slide.can-zoom_out .fancybox__content {
  cursor: zoom-out; }

.fancybox__carousel .fancybox__slide.is-draggable .fancybox__content {
  cursor: move;
  cursor: grab; }

.fancybox__carousel .fancybox__slide.is-dragging .fancybox__content {
  cursor: move;
  cursor: grabbing; }

.fancybox__image {
  transform-origin: 0 0;
  user-select: none;
  transition: none; }

.has-image .fancybox__content {
  padding: 0;
  background: transparent;
  min-height: 1px; }
  .is-closing .has-image .fancybox__content {
    overflow: visible; }

.has-image[data-image-fit="contain"] {
  overflow: visible;
  touch-action: none;
  /* Fix Mac OS Safari 11 - 13 */ }
  .has-image[data-image-fit="contain"] .fancybox__content {
    flex-direction: row;
    flex-wrap: wrap; }
  .has-image[data-image-fit="contain"] .fancybox__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; }

.has-image[data-image-fit="contain-w"] {
  overflow-x: hidden;
  overflow-y: auto; }
  .has-image[data-image-fit="contain-w"] .fancybox__content {
    min-height: auto; }
  .has-image[data-image-fit="contain-w"] .fancybox__image {
    max-width: 100%;
    height: auto; }

.has-image[data-image-fit="cover"] {
  overflow: visible;
  touch-action: none; }
  .has-image[data-image-fit="cover"] .fancybox__content {
    width: 100%;
    height: 100%; }
  .has-image[data-image-fit="cover"] .fancybox__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content,
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content,
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  max-width: 100%;
  flex-shrink: 1;
  min-height: 1px;
  overflow: visible; }

.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content,
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content {
  width: 100%;
  height: 80%; }

.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  width: 960px;
  height: 540px;
  max-width: 100%;
  max-height: 100%; }

.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content,
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  padding: 0;
  background: rgba(24, 24, 27, 0.9);
  color: #fff; }

.fancybox__carousel .fancybox__slide.has-map .fancybox__content {
  background: #e5e3df; }

.fancybox__html5video,
.fancybox__iframe {
  border: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: transparent; }

.fancybox-placeholder {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0; }

.fancybox__thumbs {
  flex: 0 0 auto;
  position: relative;
  padding: 0px 3px;
  opacity: var(--fancybox-opacity, 1); }
  .fancybox__container.is-animated[aria-hidden="false"] .fancybox__thumbs {
    animation: 0.15s ease-in backwards fancybox-fadeIn; }
  .fancybox__container.is-animated.is-closing .fancybox__thumbs {
    opacity: 0; }
  .fancybox__thumbs .carousel__slide {
    flex: 0 0 auto;
    width: var(--fancybox-thumbs-width, 96px);
    margin: 0;
    padding: 8px 3px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    cursor: pointer; }
    .fancybox__thumbs .carousel__slide .fancybox__thumb::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-width: 5px;
      border-style: solid;
      border-color: var(--fancybox-accent-color, rgba(34, 213, 233, 0.96));
      opacity: 0;
      transition: opacity 0.15s ease;
      border-radius: var(--fancybox-thumbs-border-radius, 4px); }
    .fancybox__thumbs .carousel__slide.is-nav-selected .fancybox__thumb::after {
      opacity: 0.92; }
    .fancybox__thumbs .carousel__slide > * {
      pointer-events: none;
      user-select: none; }

.fancybox__thumb {
  position: relative;
  width: 100%;
  /* Keep aspect ratio */
  padding-top: calc(100% / (var(--fancybox-thumbs-ratio, 1.5)));
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  border-radius: var(--fancybox-thumbs-border-radius, 4px); }

.fancybox__toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.006) 8.1%, rgba(0, 0, 0, 0.021) 15.5%, rgba(0, 0, 0, 0.046) 22.5%, rgba(0, 0, 0, 0.077) 29%, rgba(0, 0, 0, 0.114) 35.3%, rgba(0, 0, 0, 0.155) 41.2%, rgba(0, 0, 0, 0.198) 47.1%, rgba(0, 0, 0, 0.242) 52.9%, rgba(0, 0, 0, 0.285) 58.8%, rgba(0, 0, 0, 0.326) 64.7%, rgba(0, 0, 0, 0.363) 71%, rgba(0, 0, 0, 0.394) 77.5%, rgba(0, 0, 0, 0.419) 84.5%, rgba(0, 0, 0, 0.434) 91.9%, rgba(0, 0, 0, 0.44) 100%);
  padding: 0;
  touch-action: none;
  display: flex;
  justify-content: space-between;
  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  opacity: var(--fancybox-opacity, 1);
  text-shadow: var(--fancybox-toolbar-text-shadow, 1px 1px 1px rgba(0, 0, 0, 0.4)); }
  @media all and (min-width: 1024px) {
    .fancybox__toolbar {
      padding: 8px; } }
  .fancybox__container.is-animated[aria-hidden="false"] .fancybox__toolbar {
    animation: 0.15s ease-in backwards fancybox-fadeIn; }
  .fancybox__container.is-animated.is-closing .fancybox__toolbar {
    opacity: 0; }
  .fancybox__toolbar__items {
    display: flex; }
    .fancybox__toolbar__items--left {
      margin-right: auto; }
    .fancybox__toolbar__items--center {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
    .fancybox__toolbar__items--right {
      margin-left: auto; }
    @media (max-width: 640px) {
      .fancybox__toolbar__items--center:not(:last-child) {
        display: none; } }

.fancybox__counter {
  min-width: 72px;
  padding: 0 10px;
  line-height: var(--carousel-button-height, 48px);
  text-align: center;
  font-size: 17px;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: subpixel-antialiased; }

.fancybox__progress {
  background: var(--fancybox-accent-color, rgba(34, 213, 233, 0.96));
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: 0;
  transition-property: transform;
  transition-timing-function: linear;
  z-index: 30;
  user-select: none; }

.fancybox__container:fullscreen::backdrop {
  opacity: 0; }

.fancybox__button--fullscreen g:nth-child(2) {
  display: none; }

.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(1) {
  display: none; }

.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(2) {
  display: block; }

.fancybox__button--slideshow g:nth-child(2) {
  display: none; }

.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(1) {
  display: none; }

.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(2) {
  display: block; }

:root {
  --color-black: black;
  --color-black--trans: rgba(0, 0, 0, 0.6);
  --color-black--trans-dark: rgba(0, 0, 0, 0.8);
  --color-white: white;
  --color-border: var(--color-white);
  --color-trans: rgba(0, 0, 0, 0);
  --color-bg: #fcfcfc;
  --color-bg-nav: rgba(17, 22, 24, 0.45);
  --color-primary: #242424;
  --color-primary--hover: #0a0a0a;
  --color-secondary: #2a2c2a;
  --color-font: white;
  --trans-time: 0.25s;
  --trans-fnc: ease-in-out;
  --animate-all: all ease-in-out var(0.25s);
  --gap-xxl: 3.2rem;
  --gap-xl: 2.4rem;
  --gap-l: 1.6rem;
  --gap-m: 0.8rem;
  --gap-s: 0.4rem;
  --font-text: montserrat, sans-serif;
  --font-title: montserrat, sans-serif;
  --border-width: 1px;
  --nav-height: 8rem;
  --padding-inline--container: clamp(var(--gap-l), 2em, 3vw);
  --padding-block--section: clamp(5vh, 20%, 20vh); }
  @media only screen and (max-width: 1024px) {
    :root {
      --nav-height: 7rem; } }
  @media only screen and (max-width: 768px) {
    :root {
      --nav-height: 5rem; } }

@layer base, modules, components, utils;
a {
  text-decoration: none; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth; }

body {
  position: relative;
  scroll-snap-type: y mandatory;
  padding: 0;
  margin: 0; }

address {
  font-style: normal; }

body {
  display: flex;
  flex-flow: column wrap; }
  body nav {
    flex: none; }
  body header {
    flex: 0 0 auto;
    width: 100%; }
  body main {
    flex: 1 1 auto;
    width: 100%; }
  body footer {
    flex: 0 0 auto;
    width: 100%; }

@layer utils {
  .element-to-middle {
    position: absolute;
    inset: 50% auto auto 50%;
    translate: -50% -50%; }
  .text-center {
    text-align: center; }
  .text-left {
    text-align: left; }
  .text-right {
    text-align: right; }
  .text-justify {
    text-align: justify; }
  .uppercase {
    text-transform: uppercase; }
  .relative {
    position: relative; }
  .overflow-hidden {
    overflow: hidden; }
  .inline-flex {
    display: inline-flex; }
  .inline-block {
    display: inline-block; }
  .invisible {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    font-size: 0;
    z-index: -999; }
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--col-count, 2), minmax(3.2rem, 1fr));
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    gap: var(--gap, 3.2rem); }
    @media only screen and (max-width: 768px) {
      .grid {
        --col-count: 1; } } }

@layer base {
  h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0; }
  h1, h2, h3, h4, h5, h6 {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal; }
  p, span, small {
    font-family: montserrat, sans-serif;
    font-weight: 100; }
  .title {
    --title-justify-content: flex-start;
    --title-font-size: 4.5em;
    --title-color: #242424;
    --title-mg-bottom: clamp(3.2rem, 1em, 5vh);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: normal;
    justify-content: var(--title-justify-content);
    gap: var(--title-gap, 0);
    margin-bottom: var(--title-mg-bottom);
    font-family: montserrat, sans-serif;
    font-size: var(--title-font-size);
    font-weight: 700;
    line-height: 1.2;
    color: var(--title-color); }
    @media only screen and (max-width: 1440px) {
      .title {
        --title-font-size: 2.5em; } }
    @media only screen and (max-width: 1024px) {
      .title {
        --title-font-size: 2em; } }
    @media only screen and (max-width: 768px) {
      .title {
        --title-font-size: 2.5em;
        --title-mg-bottom: 2.4rem; } }
    @media only screen and (max-width: 425px) {
      .title {
        --title-font-size: 2em; } }
    .title--center {
      --title-justify-content: center; }
    .title--white {
      --title-color: white; }
    .title--s {
      --title-font-size: 2.5em;
      --title-mg-bottom: clamp(1.6rem, .8em, 5dvh); }
      @media only screen and (max-width: 1024px) {
        .title--s {
          --title-font-size: 1.6em; } }
      @media only screen and (max-width: 768px) {
        .title--s {
          --title-font-size: 3.2em;
          --title-mg-bottom: 2.4rem; } }
      @media only screen and (max-width: 425px) {
        .title--s {
          --title-font-size: 2.4em; } }
    .title--l {
      --title-font-size: 5.5em; }
    .title:has(> .icon) {
      --title-gap: clamp(0.8rem, .5em, 2dvh); }
    .title:has(> span) {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      align-content: normal;
      justify-content: flex-start;
      gap: 0.8rem;
      text-transform: uppercase; }
      .title:has(> span) span {
        font-size: .5em;
        font-weight: 300;
        line-height: 1;
        text-transform: lowercase;
        translate: 0.4rem -45%; }
  .desc {
    --mg-b: 3.5rem;
    --desc-font-size: large;
    margin-bottom: var(--mg-b);
    font-family: montserrat, sans-serif;
    font-size: var(--desc-font-size);
    line-height: 1.7;
    color: var(--desc-color, #242424); }
    @media only screen and (max-width: 1024px) {
      .desc {
        --desc-font-size: medium; } }
    @media only screen and (max-width: 425px) {
      .desc {
        --mg-b: 3.2rem; } }
    .desc--white {
      --desc-color: white; }
    .desc--no-mg {
      --mg-b: 0; }
    .desc--mg-s {
      --mg-b: 3.2rem; }
    .desc strong, .desc a:not(.button), .desc b, .desc span {
      font-family: inherit;
      font-size: inherit; }
  ul:not([class]) {
    display: grid;
    grid-template-columns: minmax(3.2rem, auto);
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 0.8rem;
    margin-block-end: 1.6rem;
    font-family: montserrat, sans-serif;
    font-size: var(--list_font-size, large);
    color: white; }
    @media only screen and (max-width: 768px) {
      ul:not([class]) {
        --list_font-size: medium; } } }

@layer components {
  @property --button_gradient-size {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%; }
  .button {
    --btn-color: var(--color-primary);
    --btn-text-color: var(--color-primary);
    --btn-before_trans-x: -100%;
    position: relative;
    display: inline-block;
    min-inline-size: 14rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100vmax;
    font-family: montserrat, sans-serif;
    font-size: var(--btn-font-size, large);
    font-weight: 700;
    line-height: 1;
    color: var(--btn-text-color);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: color var(--trans-time) var(--trans-fnc) var(--trans-time);
    transition: --button_gradient-size 0.5s ease-in-out;
    overflow: hidden;
    isolation: isolate;
    cursor: pointer; }
    @media (hover: hover) {
      .button:hover {
        --btn-before_trans-x: 0%; } }
    .button > span {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      align-content: normal;
      justify-content: center;
      gap: 0.5em;
      border: 2px solid var(--btn-color);
      min-inline-size: 14rem;
      padding-block: var(--btn-padding-y, calc(0.8rem + 0.4rem));
      padding-inline: var(--btn-padding-x, 1.6rem);
      background-image: linear-gradient(90deg, var(--color-bg) 0%, var(--color-bg) var(--button_gradient-size), var(--color-primary) var(--button_gradient-size), var(--color-primary) 100%);
      -webkit-background-clip: text;
      border-radius: inherit;
      font-weight: inherit;
      white-space: nowrap;
      transition: --button_gradient-size var(--trans-time) var(--trans-fnc);
      -webkit-text-fill-color: transparent; }
      @media (hover: hover) {
        .button > span:hover {
          --button_gradient-size: 100%; } }
      .button > span > .icon {
        --icon-size: 1.6rem;
        transition: fill var(--trans-time) var(--trans-fnc); }
    .button:before {
      position: absolute;
      inset: 0;
      content: "";
      background-color: var(--btn-color);
      translate: var(--btn-before_trans-x);
      transition: translate var(--trans-time) var(--trans-fnc);
      z-index: -1; }
    @media only screen and (max-width: 1024px) {
      .button {
        --btn-padding-x: 1.6rem;
        --btn-padding-y: 1.2rem;
        --btn-font-size: medium;
        --btn-inline-size: 16rem; } }
    .button--white {
      --btn-color: var(--color-bg);
      --btn-text-color: var(--color-bg); }
      @media (hover: hover) {
        .button--white:hover {
          --btn-text-color: var(--color-primary); } }
      .button--white > span {
        background-image: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary) var(--button_gradient-size), var(--color-bg) var(--button_gradient-size), var(--color-bg) 100%); } }

.burger {
  --icon-menu_display: block;
  --icon-close_display: none;
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: normal;
  justify-content: flex-start;
  gap: 0.2rem;
  position: relative;
  place-items: center;
  padding: 0;
  background: none;
  border-color: var(--color-trans);
  font-size: small;
  color: var(--burger-color, var(--color-primary));
  text-transform: uppercase;
  transition: color 0.25s ease-in-out;
  z-index: 2;
  cursor: pointer; }
  .burger--open {
    --burger-color: var(--color-white);
    --icon-menu_display: none;
    --icon-close_display: block; }
  .burger .icon {
    --icon-size: 3.2rem;
    pointer-events: none; }
    .burger .icon-menu {
      display: var(--icon-menu_display); }
      .burger .icon-menu + span {
        display: var(--icon-menu_display); }
    .burger .icon-close {
      display: var(--icon-close_display); }
      .burger .icon-close + span {
        display: var(--icon-close_display); }

.container {
  inline-size: var(--container-width, 80%);
  min-inline-size: var(--container-min-width, 1024px);
  padding-inline: var(--container-pad-x, var(--padding-inline--container));
  margin-inline: auto; }
  @media only screen and (max-width: 1440px) {
    .container {
      --container-width: 75%;
      --container-min-width: 0; } }
  @media only screen and (max-width: 1366px) {
    .container {
      --container-width: 85%; } }
  @media only screen and (max-width: 1024px) {
    .container {
      --container-width: 90%; } }
  @media only screen and (max-width: 768px) {
    .container {
      --container-width: 100%; } }
  @media only screen and (max-width: 425px) {
    .container {
      --container-pad-x: 2.4rem; } }
  @media only screen and (max-width: 375px) {
    .container {
      --container-pad-x: 1.6rem; } }

@layer components {
  .icon {
    --icon-size: 2.4rem;
    display: block;
    inline-size: var(--icon-size);
    aspect-ratio: 1;
    fill: currentColor; } }

.link {
  --link-icon-size: 1.6rem;
  --link-icon-scale: 1;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: normal;
  justify-content: flex-start;
  gap: 0.8rem;
  font-family: montserrat, sans-serif;
  font-size: var(--link-font-size, 1em);
  color: var(--link-color, #242424);
  text-decoration: var(--link-text-decor, none);
  transition: color var(--trans-time) var(--trans-fnc); }
  @media (hover: hover) {
    .link:hover {
      --link-text-decor: underline;
      --link-icon-scale: 1.1; } }
  .link--underline {
    --link-text-decor: underline; }
  .link--white {
    --link-color: white; }
  .link > span {
    font-size: 1em;
    color: currentColor; }
  .link--l {
    --link-icon-size: 2.4rem;
    --link-font-size: 1.5em; }
  .link > .icon {
    --icon-size: var(--link-icon-size);
    scale: var(--link-icon-scale);
    transition: scale var(--trans-time) var(--trans-fnc); }
    .link > .icon-facebook {
      fill: #4268b3; }

@media only screen and (min-width: 769px) {
  ::-webkit-scrollbar {
    width: 0.8rem; }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0a0a0a; }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4a4a4a;
    border-radius: 0.4rem; }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4a4a4a; } }

.social {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.4rem, 3.2rem));
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 1.6rem; }
  .social a {
    --item-scale: 1;
    display: grid;
    place-items: center;
    inline-size: 3.2rem;
    aspect-ratio: 1;
    color: var(--color-white);
    text-decoration: none; }
    @media (hover: hover) {
      .social a:hover {
        --item-scale: 1.1; } }
    .social a > .icon {
      --icon-size: 3.2rem;
      scale: var(--item-scale);
      transition: scale 0.25s ease-in-out;
      fill: currentColor; }

.contact__container {
  display: grid;
  grid-template-columns: var(--col-temp, minmax(3.2rem, 8fr) minmax(3.2rem, 5fr));
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  gap: var(--gap, clamp(3.2rem, 5vw, 150px));
  grid-row-gap: 0; }

.contact div:has(> .contact__item) {
  display: grid;
  grid-template-columns: repeat(1, minmax(1.6rem, 1fr));
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  gap: clamp(1.6rem, 0.8em, 5dvh); }

.contact__info {
  padding-block: clamp(2.4rem, 1.6em, 5vw);
  padding-inline: clamp(2.4rem, 1.6em, 8vw);
  background-color: #4a4a4a;
  border-radius: clamp(1.6rem, 4dvh, 2.4rem); }
  .contact__info hr {
    inline-size: 100%;
    width: 100%; }

.contact__item {
  font-family: montserrat, sans-serif;
  color: white; }
  .contact__item strong {
    display: block;
    margin-block-end: 0.5em;
    font-size: clamp(1.6rem, 2vh, 2.4rem); }
    .contact__item strong + a {
      margin-block-end: 0.5em; }
  .contact__item address {
    font-size: clamp(0.8rem, 2dvh, 1.6rem);
    color: white; }
    .contact__item address div {
      margin-block-start: 1em; }

footer {
  padding: 1.6rem;
  background-color: #0a0a0a; }
  footer > small {
    display: block;
    width: 100%;
    font-family: montserrat, sans-serif;
    font-size: small;
    color: white;
    text-align: center; }

.gallery {
  display: grid;
  grid-template-columns: repeat(var(--col-count, 3), minmax(3.2rem, 1fr));
  align-items: var(--align-items, stretch);
  align-content: flex-start;
  justify-content: flex-start;
  gap: var(--gap, 3.2rem);
  margin-block-end: 3.2rem; }
  @media only screen and (max-width: 1024px) {
    .gallery {
      --gap: 1.6rem;
      --col-count: 3; } }
  @media only screen and (max-width: 768px) {
    .gallery {
      --col-count: 2; } }
  @media only screen and (max-width: 425px) {
    .gallery {
      --gap: 2.4rem; } }
  .gallery__invisible {
    display: none; }

.gitem {
  --photo_scale: 1;
  --text_translate-x: calc(-100% - 3.2rem);
  position: relative;
  display: block;
  aspect-ratio: 1;
  text-decoration: none;
  overflow: hidden; }
  .gitem:has(h2, .button) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: normal;
    justify-content: var(--gitem_jc, flex-start);
    gap: 0; }
  .gitem:has(.button) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: normal;
    justify-content: var(--gitem_jc, center);
    gap: 0; }
  .gitem:is(a) {
    --photo_scale: 1.05;
    --photo_opacity: 1;
    --photo_filter: blur(.05em) grayscale(50%);
    --text_trans-y: 0;
    padding: clamp(0.8rem, 2vw, 2.4rem);
    background-color: #2a2c2a; }
    @media (hover: hover) {
      .gitem:is(a):hover {
        --photo_scale: 1.1;
        --photo_opacity: 0.9;
        --photo_filter: blur(0) grayscale(0);
        --text_trans-y: -0.2em; } }
    .gitem:is(a) img {
      position: absolute;
      inset: 50% auto auto 50%;
      translate: -50% -50%;
      min-inline-size: 100%;
      min-block-size: 100%;
      opacity: var(--photo_opacity);
      filter: var(--photo_filter);
      scale: var(--photo_scale);
      transition: scale 0.25s ease-in-out, filter 0.25s ease-in-out, opacity 0.25s ease-in-out; }
    .gitem:is(a) > strong {
      position: absolute;
      inset: auto auto 2.4rem 2.4rem;
      padding: 0.4em 0.8em;
      background-color: #242424;
      border-radius: 100vmax;
      font-family: montserrat, sans-serif;
      font-size: x-large;
      letter-spacing: 2px;
      color: white;
      text-transform: uppercase;
      translate: 0 var(--text_trans-y);
      transition: translate 0.25s ease-in-out; }
  .gitem--row-span-2 {
    grid-row-end: span var(--gitem_rowspan, 2);
    aspect-ratio: unset; }
  .gitem--col-span-2 {
    grid-column-end: span var(--gitem_colspan, 2);
    aspect-ratio: unset; }

.header {
  position: relative;
  min-block-size: 100vh;
  max-block-size: 8096px; }
  .header__logo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: normal;
    justify-content: center;
    gap: 0;
    container-type: inline-size;
    inline-size: 768px;
    padding-inline: var(--padding-inline--container);
    z-index: 1;
    position: absolute;
    inset: 50% auto auto 50%;
    translate: -50% -50%; }
    .header__logo > svg {
      display: block;
      inline-size: 100cqi;
      opacity: 0;
      animation: showRoof 0.7s linear forwards 1s;
      translate: 0 7.5cqi;
      fill: #242424; }
    .header__logo > h1 {
      opacity: 0;
      font-size: 21.5cqi;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 2cqi;
      color: #242424;
      white-space: nowrap;
      animation: showTitle 1s linear forwards;
      animation-delay: 0.3s; }
      .header__logo > h1 > span {
        font-size: 0.7em;
        font-weight: 400; }
  .header__button {
    --icon-trans-y: 0;
    position: absolute;
    inset: 100% auto auto 50%;
    translate: -50% calc(-100% - 5vh);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: normal;
    justify-content: center;
    gap: 0.8rem;
    font-size: clamp(0.8rem, 1.5em, 2vh);
    color: #242424;
    text-decoration: none;
    text-transform: uppercase; }
    @media (hover: hover) {
      .header__button:hover {
        --icon-trans-y: 0.4rem; } }
    .header__button .icon {
      --icon-size: clamp(3.2rem, 5em, 7vh);
      translate: 0 var(--icon-trans-y);
      transition: translate 0.25s ease-in-out; }

@keyframes showRoof {
  to {
    opacity: 1;
    translate: 0 5cqi; } }

@keyframes showTitle {
  to {
    opacity: 1; } }

nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: normal;
  justify-content: flex-end;
  gap: 0;
  position: fixed;
  inset: 0 0 auto 0;
  block-size: var(--nav-height);
  padding-inline: var(--padding-inline--container);
  background-color: var(--color-trans);
  font-family: montserrat, sans-serif;
  color: var(--nav-color, white);
  z-index: 999; }
  @media only screen and (max-width: 768px) {
    nav {
      --nav-justify-content: space-between;
      --color-bg-nav: #111618; } }

.menu {
  display: var(--nenu-display, none);
  flex-flow: column nowrap;
  align-items: center;
  align-content: normal;
  justify-content: center;
  gap: 3.2rem;
  position: fixed;
  inset: 0;
  padding: 0;
  margin: 0;
  background-color: #242424;
  opacity: var(--menu-opacity, 0);
  list-style: none;
  transition: opacity 0.5s linear 0.1s;
  z-index: 1; }
  .menu--open {
    --menu-opacity: 1;
    --nenu-display: flex; }
  .menu__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: normal;
    justify-content: center;
    gap: 0.8rem;
    font-size: xx-large;
    color: white;
    text-align: center;
    text-decoration: var(--item_text-decoration, none); }
    @media (hover: hover) {
      .menu__item:hover {
        --item_text-decoration: underline; } }
    .menu__item > .icon {
      --icon-size: 1.2em; }
  .menu__social {
    position: absolute;
    inset: auto auto var(--padding-inline--container) var(--padding-inline--container); }
    @media only screen and (max-width: 768px) {
      .menu__social {
        inset: auto auto var(--padding-inline--container) 50%;
        text-align: center;
        translate: -50%; } }
    .menu__social > strong {
      display: block;
      margin-block-end: 0.8rem;
      font-weight: 400;
      text-transform: uppercase; }

section {
  --sec-bg: #fcfcfc;
  --sec-pad-y: 10vh;
  scroll-margin-top: var(--sec_scroll-mg, 0);
  scroll-snap-align: start;
  padding: var(--sec-pad-y) 0;
  background-color: var(--sec-bg); }
  @media only screen and (max-width: 1366px) {
    section {
      --sec-pad-y: 5rem; } }
  @media only screen and (max-width: 768px) {
    section {
      --sec-pad-y: 8vh;
      --sec_scroll-mg: var(--nav-height); } }
  section.dark {
    --sec-bg: #242424; }
  section.no-pt {
    padding-top: 0; }
  section.no-p {
    padding: 0; }
  section.full-height {
    min-height: 100vh; }
    section.full-height > .container {
      position: absolute;
      inset: 50% auto auto 50%;
      translate: -50% -50%; }

.nav + main > section:first-of-type {
  padding-top: calc(var(--sec-pad-y) + var(--nav-height)); }

.about__container {
  display: grid;
  grid-template-columns: repeat(var(--col-count, 2), minmax(425px, 1fr));
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start; }
  .about__container > div:not([class]) {
    min-block-size: 100vh;
    max-block-size: 8096px;
    padding-block: var(--padding-block--section);
    padding-inline: var(--padding-inline--container);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: normal;
    justify-content: space-between;
    gap: var(--gap, 3.2rem);
    text-align: center; }
    .about__container > div:not([class]):first-of-type {
      background-color: #242424;
      color: #fcfcfc; }
  .about__container p {
    inline-size: 560px;
    margin-inline: auto; }

/*# sourceMappingURL=style.css.map */