@import "../Base/global";

.section--about{
    padding-block: 8vh;
    background-image: var(--about-bg-image, url('../Images/Backgrounds/HomePage/about-bg_1920.webp')); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include res-max-desktop-HD {
        --about-bg-image: url('../Images/Backgrounds/HomePage/about-bg_1440.webp');
    }
    @include res-max-desktop-large {
        --about-bg-image: url('../Images/Backgrounds/HomePage/about-bg_1200.webp');
    }

    @include res-max-desktop-small {
        --col-count: 1;
        --about-bg-image: url('../Images/Backgrounds/HomePage/about-bg_980.webp');
        background-position: center top;
        background-size: contain;
    }

    @include res-max-tablet {
        --about-bg-image: url('../Images/Backgrounds/HomePage/about-bg_768.webp');
    }

    @include res-max-mobile {
        --about-bg-image: url('../Images/Backgrounds/HomePage/about-bg_560.webp');
    }
}

.about {
    &__container {
        display: grid;
        grid-template-columns: repeat(var(--col-count, 2), minmax(1rem, 1fr));     
        align-items: stretch;    
        >div:first-of-type{
            @include res-max-desktop-small {
               padding-top: 40%;
            }
        }
    }

    &__content {
        position: relative;
        width: auto;
        max-width: $width-tablet;
        padding: 5rem;
        background-color: hsla(0, 0%, 0%, .9);
        color: $color-white;
        z-index: 2;
        @include box-shadow(.3);

        h1, li.sec__desc{
            color: currentColor;
        }

        @include res-max-desktop-large {
            width: 100%;
            max-width: $width-tablet;
            margin: 0 auto;
            margin-bottom: 5rem;
        }
        // @include res-max-desktop-small {
        //     background-color: $color-black;
        // }

        @include res-max-tablet {
            width: 100%;
            padding: 2rem 3rem;
            margin-bottom: 3rem;
        }

        @include res-max-mobile {
            padding: 2rem;
            box-shadow: none;
        }
    }
}
