@import "../Base/global";

.about {
    &__container {
        container-type: inline-size;
        @include grid-columns(grid, repeat(var(--col-count, 2), minmax($gap-xxl, 1fr)), 0, stretch);

        @include res-max-tablet {
            --col-count: 1;
        }

        > div:not([class]) {
            min-block-size: 100vh;
            max-block-size: 8096px;
            padding-block: var(--padding-block--section);
            padding-inline: var(--padding-inline--container);
            @include flex-set(flex, column, nowrap, var(--gap, #{$gap-xxl}), center, space-between);
            text-align: center;

            &:first-of-type {
                background-color: $color-primary;
                color: $color-bg;
            }
        }

        p {
            inline-size: clamp(290px, calc(100cqi / 3), 50vw);
            margin-inline: auto;
        }
    }
}
