@import "../Base/global";

section{
    scroll-margin-top: 6rem;
}

.sec {
    padding: 5rem 0;
    &--pad-big {
        padding: 10rem 0;
        @include res-max-desktop-small {
            padding: 5rem 0;
        }
    }
    @include res-max-desktop-small {
        padding: 3rem 0;
    }
    &--pad-top {
        padding-bottom: 0;
    }
    &--pad-bottom {
        padding-top: 0;
    }
    &--after-email {
        text-align: center;
        .button {
            margin-top: 3rem;
        }
    }
    &__title {
        margin: 0;
        margin-bottom: 3rem;
        font-size: $font-size-xxl;
        font-weight: 500;
        color: $color-black;
        text-align: center;
        @include res-max-desktop-small {
            margin-bottom: 2rem;
            font-size: 3.2rem;
        }
        @include res-max-tablet {
            font-size: x-large;
        }
        &--left {
            text-align: left;
        }
        &--right {
            text-align: right;
        }
    }
    &__desc {
        margin-bottom: 2rem;
        font-size: $font-size-l;
        line-height: 1.5;
        color: $color-font;
        text-align: center;
        @include res-max-desktop-HD {
            font-size: $font-size-m;
        }
        @include res-max-tablet {
            text-align: center;
        }
        strong {
            color: $color-secondary;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        &--left {
            text-align: left;
        }
        &--right {
            text-align: right;
        }
        .link-button {
            font-size: 1em;
        }
    }
    &--technology img {
        display: block;
        margin: 0 auto;
    }

    &--contact{
        padding-bottom: 8rem;
        div.text-to-center{
            margin-block-start: 4rem;
        }
    }
}