@import "../Base/global";

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;

    > div {
        flex: 0 0 50%;
        width: 50%;
        max-width: 50%;

        @include res-max-desktop-small {
            flex: 0 0 100%;
            width: 100%;
            max-width: 100%;
        }
    }

    &--center {
        align-items: center;
    }
}
